{% extends 'base.html' %}


{% block search %}




<section class="text-gray-400 bg-gray-900 body-font">
  

    <div class="container  py-24 mx-auto">

        <form method="POST" action="search">
            {% csrf_token %}

                <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
                    
                    

                    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
                      <div class="flex w-full justify-center items-end">
                        <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left">
                          <label for="hero-field" class="leading-7 text-sm text-gray-400">Search Here : </label>
                          <input type="text" id="hero-field" name="query" class="w-full bg-gray-800 rounded border bg-opacity-40 border-gray-700 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        </div>
                    </div>
                    <br/>

                        <div class="mt-2 ">
                          <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="choice" value="biller">
                            <span class="ml-2">Biller</span>
                          </label>
                          <label class="inline-flex items-center ml-6">
                            <input type="radio" class="form-radio" name="choice" value="vender">
                            <span class="ml-2">Vender</span>
                          </label>
                          <label class="inline-flex items-center ml-8">
                            <input type="radio" class="form-radio " name="choice" value="product">
                            <span class="ml-2">Product</span>
                          </label>
                        </div>
                      
                        <br/>
                      
                      <div class="flex text-gray-300">
                        

                        <button class="bg-orange-500 inline-flex py-3 px-5 rounded-lg items-center focus:outline-none hover:bg-orange-600 hover:text-white focus:outline-none">
                            Search
                        </button>


                        
                        
                      </div>
                    </div>
                  </div>
                </form>

    </div>
    


</section>

{% endblock %}

